{% include header.html %}
    <div id="my">
      {% for status in res.statuses %}
        <div>
          <span style="color: green"><small>Time </small>{{ status.created_at }}</span>
          <p class="status_text"> {{ status.text }}</p>
          <div class="rs">
            {% if 'retweeted_status' in status %}
              {% set rs = status.retweeted_status %}
              <p style="background: lightgray">
              {% if 'user' in rs %}
                <span style="color: green"><small>From </small>{{ rs.user.screen_name }}</span>
                <span style="color: green"><small>Time </small>{{ rs.created_at }}</span><br />
              {% end %}
              {% if 'text' in rs %}
                {{ rs.text }}
              {% end %}
              </p>
              {% if 'original_pic' in rs %}
                <img src="{{ rs.original_pic }}" />
              {% end %} 
            {% end %}
          </div>
          <hr>
        </div>
      {% end %}
    </div>
{% include footer.html %}
